.channel-name {
    width: 20%;
    min-width: 90px;
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 12px;
}
.channel-description > * {
    color: #999;
}
@media(max-width: 900px) {
    .channel-description { display: none !important; }
}
.channel-time > * {
    padding-right: 8px;
    text-align: right;
}
@media(max-width: 700px) {
    .channel-time { display: none !important; }
}
.channel-flag > * {
    padding-right: 12px;
}
.channel-sample {
    width: 5%;
    min-width: 40px;
    text-align: right;
}
.channel-unit > * {
    padding-left: 6px;
    padding-right: 12px;
    color: #999;
}
@media(max-width: 600px) {
    .channel-sample { display: none !important; }
    .channel-unit { display: none !important; }
}

.channel-sample input {
    margin: 0px;
    text-align: right;
}

/* For Firefox */
.channel-sample input[type=number] {
    -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */
.channel-sample input[type=number]::-webkit-inner-spin-button,
.channel-sample input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

.channel-sample input[type=checkbox]:focus+:before {
    outline: none !important;
}
