# Eclipse project files
*.buildpath
*.classpath
*.project
*.settings/
*.md.html

#Gradle
*.gradletasknamecache
*.gradle/
build/
/build/

# Framework
log/
cache/
conf/*
bundle/
!lib/bundle/
!conf/bundle.gradle
!conf/logback.xml
!conf/system.default.properties
!conf/config.default.properties
!conf/emoncms.apache2.conf
!conf/emoncms.default.conf
!conf/emoncms.settings.php
!conf/https-certificate.jks
bin/felix.jar
