[Unit]
Description=Multi Utility Communication controller
After=network.target

[Service]
Type=forking
Restart=always
RestartSec=10
ExecStart=/opt/emonmuc/bin/emonmuc start
ExecReload=/opt/emonmuc/bin/emonmuc reload
ExecStop=/opt/emonmuc/bin/emonmuc stop
WorkingDirectory=/opt/emonmuc

[Install]
WantedBy=multi-user.target
