[Unit]
Description=Multi Utility Communication controller
After=network.target
Requires=mysql.service redis-server.service apache2.service

[Service]
Type=forking
ExecStart=/opt/emonmuc/bin/emonmuc start
ExecReload=/opt/emonmuc/bin/emonmuc reload
ExecStop=/opt/emonmuc/bin/emonmuc stop
WorkingDirectory=/opt/emonmuc

[Install]
WantedBy=multi-user.target
