[Unit]
Description=Multi Utility Communication controller
After=network.target

[Service]
User=pi
Group=pi
Type=forking
Restart=always
RestartSec=60s
ExecStart=/opt/openmuc/bin/openmuc start
ExecReload=/opt/openmuc/bin/openmuc reload
ExecStop=/opt/openmuc/bin/openmuc stop
WorkingDirectory=/opt/openmuc

[Install]
WantedBy=multi-user.target
